<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">


    <application
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:icon="@drawable/vitalait"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vitalait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ACTIVITY.Home"/>
        <activity
            android:name=".ACTIVITY.SplachScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ACTIVITY.ActivityAuth"/>

        <activity android:name=".ACTIVITY.CompleteCompte"/>

        <activity android:name=".ACTIVITY.ActivityProfile"/>

        <activity android:name=".ACTIVITY.MyScore"
            android:theme="@style/AppThemeD"
            android:label="@string/mon_score" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ACTIVITY.Home" />
        </activity>

        <activity android:name=".ACTIVITY.MyGifts"
            android:theme="@style/AppThemeD"
            android:label="@string/mes_cadeaux" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ACTIVITY.Home" />
        </activity>

        <activity android:name=".ACTIVITY.UnityHolderPlayer"/>


        <activity android:name=".ACTIVITY.ShowImage"
            android:theme="@style/AppThemeD"
            android:label="Code QR" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ACTIVITY.MyGifts" />
        </activity>

        <activity android:name=".ACTIVITY.CommandGiftMap"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".NotificationService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key" />

    </application>


</manifest>